<div style="background-color: #F9B1A5; width: 100%; margin-top: -25px; text-align: center; padding-right: 10px; padding-bottom: 50px;">
  <div style="display:flex; padding: 25px">
    <div class="content">
      <div class="Name" style="margin-left:10px;">Most Liked Blogs</div>
      <br>
      <div class="" style="display:flex; margin: 0px; flex-wrap: wrap; justify-content:space-between">
        <div class="" style="text-align: left; margin-top: 15px" *ngFor="let item of masonryItems; let i = index">
          <div style="display:flex;">
            <div>
              <p class="number" style="margin-top:auto;">{{ i + 1 }}</p>
            </div>
            <div >
              <div style="width: 239px; height: 239px;   background-image: url(../../../assets/2ddd988b-3d17-4816-bede-8bb4753be7691537518619839-Harpa-Women-Mustard-Striped-Top-3111537518619649-1.png) ; background-repeat: no-repeat;
              background-size: cover; background-position: center; border: 2px solid #5d5d5d;">

              </div>
              <div class="Name" style="font-size: 18px; max-width: 235px; margin-top: 10px;">
                25 Bodysuit Outfits That’ll Make You Look (and Feel!) So Chic
                </div>
                <div class="blogTitle" style="font-size: 15px;">
                 - by snapshot winner
                </div>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>
