.content {
  background: #ffffff;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.16);
  margin-top: 100px;
  width: 100%;
  padding: 25px;
}
.Name {
  color: #2d4a86;
  font-family: Regular;
  font-size: 25px;
  text-align: left;
}
.number {
  color: #5d5d5d;
  font-family: Regular;
  font-size: 65px;
}
.blogTitle {
  font-family: Regular;
  color: #5d5d5d;
  font-size: 15px;
  text-align: left;
}
