<div style="background-color: #F9B1A5; width: 100%; margin-top: -25px; text-align: center; padding-right: 10px; padding-bottom: 50px; ">
  <div style="display:flex; padding: 25px; overflow-x: hidden;">
    <div class="content">
      <div class="Name" style="margin-left:10px;">Trending On STOPNC</div>
      <br>
      <div *ngIf="isLoading ===  false">
        <ngx-skeleton-loader count="10" [theme]="{  'width': '100%' }"></ngx-skeleton-loader>

      </div>
      <div class="" style="display:flex; margin: 0px; flex-wrap: wrap; justify-content:space-between" *ngIf="isLoading === true">
        <div class="" style="text-align: left; margin-top: 15px" *ngFor="let item of trending; let i = index">
          <div style="display:flex;">
            <div>
              <p class="number" style="margin-top:auto; opacity: 0.4; margin-right:5px; margin-top: -15px;">{{ i + 1 }}</p>
            </div>
            <div >
              <div  [ngStyle]="{ 'background-image': 'url(' + item.image[0] + ')'}" style="width: 239px; height: 239px;    background-repeat: no-repeat;
              background-size: cover; background-position: center; border: 2px solid #5d5d5d;">

              </div>
              <div class="Name" style="font-size: 18px; max-width: 235px; margin-top: 10px;">
               {{ item.title }}
                </div>
                <div class="blogTitle" style="font-size: 15px;">
                 - by {{ item.author }}
                </div>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
  <div class="" style="justify-content: flex-start; display: flex; overflow: visible;">
    <div style="flex: 2; padding-left: 25px;">
      <div class="content" >
        <div class="Name" style="margin-left:10px;">Shop Now</div>
        <div *ngIf="isLoading ===  false">
          <ngx-skeleton-loader count="10" [theme]="{  'width': '100%' }"></ngx-skeleton-loader>

        </div>
        <div *ngIf="isLoading === true">
        <br>
        <div style="display: flex; justify-content: space-between;">
          <div style="text-align:center;">
            <img [src]="products[0].image" style="width: 200px">
            <div class="Name" style="font-size: 18px; margin-top: 10px; text-align: center !important;">
              {{ products[0].name }}
              </div>
              <a [href]="products[0].link " target="blank">
              <div class="shop">
                Shop Now
              </div>
              </a>
          </div>
          <div style="text-align:center;">
            <img [src]="products[1].image" style="width: 200px">
            <div class="Name" style="font-size: 18px; margin-top: 10px; text-align: center !important;">
              {{ products[1].name }}

              </div>
              <a [href]="products[1].link " target="blank">
              <div class="shop">
                Shop Now
              </div>
              </a>
          </div>
          <div style="text-align:center;">
            <img [src]="products[2].image" style="width: 200px">
            <div class="Name" style="font-size: 18px; margin-top: 10px; text-align: center !important;">
              {{ products[2].name }}

              </div>
              <a [href]="products[2].link " target="blank">
              <div class="shop">
                Shop Now
              </div>
              </a>
          </div>
        </div>
        <br>
        <br>
        <div style="display: flex; justify-content: space-between;">
          <div style="text-align:center;">
            <img [src]="products[3].image" style="width: 200px">
            <div class="Name" style="font-size: 18px; margin-top: 10px; text-align: center !important;">
              {{ products[3].name }}

              </div>
              <a [href]="products[3].link " target="blank">
              <div class="shop">
                Shop Now
              </div>
              </a>
          </div>
          <div style="text-align:center;">
            <img [src]="products[4].image" style="width: 200px">
            <div class="Name" style="font-size: 18px; margin-top: 10px; text-align: center !important;">
              {{ products[4].name }}
              </div>
              <a [href]="products[4].link " target="blank">

              <div class="shop">
                Shop Now
              </div>
              </a>
          </div>
          <div style="text-align:center;">
            <img [src]="products[5].image" style="width: 200px">
            <div class="Name" style="font-size: 18px; margin-top: 10px; text-align: center !important;">
              {{ products[5].name }}
              </div>
              <a [href]="products[5].link " target="blank">
              <div class="shop">
                Shop Now
              </div>
            </a>
          </div>
        </div>
        </div>
      </div>
</div>
<div style="flex: 1; margin-left: 15px; overflow: visible !important; height: fit-content; position: -webkit-sticky;
position: sticky;
bottom: 0" #stickyMenu [class.stick] = "sticky">
  <div class="container-2 " style="" *ngIf="isLoading === true">
    <div class="Name" style="text-align:center; width: 100%">Exclusive Posts</div>
    <hr>
    <div *ngIf="isLoading ===  false">
      <ngx-skeleton-loader count="10" [theme]="{  'width': '100%' }"></ngx-skeleton-loader>

    </div>
    <div style="display: flex; flex-direction: column; justify-content: space-between; " *ngIf="isLoading ===  true">
    <div style="display: flex; align-items: center;" >
      <div class="head" style="padding-left: 0px; padding-right: 10px; font-size: 40px; margin-top: 10px;">
        <img [src]="exclusive[0].image[0]" style="width: 60px;">
      </div>

      <div style="margin-left: 10px;">
        <div class="Name" style="font-size: 18px;">
         {{exclusive[0].title}}
          </div>
          <div class="blogTitle" style="font-size: 15px;">
           - by {{ exclusive[0].author }}
          </div>
      </div>
    </div>
    <br>
    <div style="display: flex; align-items: center;">
      <div class="head" style="padding-left: 0px; padding-right: 10px; font-size: 40px; margin-top: 10px;">
        <img [src]="exclusive[1].image[0]" style="width: 60px;">
      </div>

      <div style="margin-left: 10px;">
        <div class="Name" style="font-size: 18px;">
         {{exclusive[1].title}}
          </div>
          <div class="blogTitle" style="font-size: 15px;">
           - by {{ exclusive[1].author }}
          </div>
      </div>
    </div>
    <br>

    <div style="display: flex; align-items: center;">
      <div class="head" style="padding-left: 0px; padding-right: 10px; font-size: 40px; margin-top: 10px;">
        <img [src]="exclusive[2].image[0]" style="width: 60px;">
      </div>

      <div style="margin-left: 10px;">
        <div class="Name" style="font-size: 18px;">
         {{exclusive[2].title}}
          </div>
          <div class="blogTitle" style="font-size: 15px;">
           - by {{ exclusive[2].author }}
          </div>
      </div>
    </div>
    <br>
    <div style="display: flex; align-items: center;">
      <div class="head" style="padding-left: 0px; padding-right: 10px; font-size: 40px; margin-top: 10px;">
        <img [src]="exclusive[3].image[0]" style="width: 60px;">
      </div>

      <div style="margin-left: 10px;">
        <div class="Name" style="font-size: 18px;">
         {{exclusive[3].title}}
          </div>
          <div class="blogTitle" style="font-size: 15px;">
           - by {{ exclusive[3].author }}
          </div>
      </div>
    </div>
    <br>


  </div>
</div>
</div>
</div>
</div>
