<div style="height: 375px; overflow: hidden;">
<div style="display: flex">
    <div style=" " class="side-panel" style="padding-top: 15px;">
      <div style="display: flex; justify-content:space-evenly;">
        <div style="flex:1">
          <div class="text-center">
            <a style="text-decoration: none;">
              <img src="assets\Path 1.svg" style="width:40px" alt=""><br>
              <p class="nav-text-2">Casual</p>
            </a>
          </div>
        </div>
        <div style="flex:1">
          <div class="text-center">
            <a style="text-decoration: none;">
              <img src="assets\Path 3.svg" style="width:40px; margin-bottom: 10px;"class= ""alt=""><br>
              <p class="nav-text-2">Formal</p>
            </a>
          </div>
        </div>
      </div>
      <div style="display: flex; justify-content:space-evenly;">
        <div style="flex:1">
          <div class="text-center">
            <a style="text-decoration: none;">
              <img src="assets\Path 5.svg" class= ""alt="" style="width:40px"><br>
              <p class="nav-text-2">Date</p>
            </a>
          </div>
        </div>
        <div style="flex:1" >
          <div class="text-center">
            <a style="text-decoration: none;">
              <img src="assets\Path 7.svg" class= ""alt="" style="width:30px"><br
              ><p class="nav-text-2">Sports</p>
            </a>
          </div>
        </div>
      </div>
      <div style="display: flex; justify-content:space-evenly;">
        <div style="flex:1">
          <div class="text-center">
            <a style="text-decoration: none;">
              <img src="assets\Path 2.svg" alt="" style="width:40px"><br>
              <p class="nav-text-2">Outdoor</p>
            </a>
        </div>
        </div>
        <div style="flex:1">
          <div class="text-center">
            <a style="text-decoration: none;">
              <img src="assets\Path 4.svg" alt="" style="width:25px"><br>
              <p class="nav-text-2">Clubing</p>
            </a>
        </div>
        </div>
      </div >
      <div style="display: flex; justify-content:space-evenly;">
        <div style="flex:1">
          <div class="text-center">
            <a style="text-decoration: none;">
              <img src="assets\Path 6.svg" alt="" style="width:40px" ><br>
              <p class="nav-text-2">Travel</p>
            </a>
        </div>
        </div>
        <div style="flex:1">
          <div class="text-center">
            <a style="text-decoration: none;">
              <img src="assets\Path 8.svg" alt="" style="width:40px; transform: translateY(10px);"><br>
              <p class="nav-text-2 " style="transform: translateY(20px);">Accessories</p>
            </a>
        </div>
        </div>
      </div>
    </div>
    <div style="flex-grow: 1;" class="main-panel">
      <div style="display: flex; justify-content: space-between; margin-top: 5px; padding-left: 5px; padding-right: 5px;" *ngIf="loggedin">
        <div >
          <p class="nav-text text-center"><a class="nav-link" [routerLink]="['/']" >HOME</a></p>
        </div>
        <div>
          <p class="nav-text text-center"><a class="nav-link" [routerLink]="['/feed']">FEED</a></p>
        </div>
        <div>
          <p class="nav-text text-center"><a class="nav-link">DISCOVER</a></p>
        </div>
        <div>
          <input type="text" placeholder="Search...">
        </div>
        <div class='dropdown'>
          <a href="" class=" " id="dropdownMenuButton" data-toggle="dropdown" (click)="notificationClick()">
            <div style="display: flex;">
              <div>
                <img src="assets\Nortification.svg" alt="" class="text-right nortification">
              </div>
              <div *ngIf="numberNot !== 0" style="background-color: rgba(212, 19, 13, 1); color: white; height: 30px; padding: 5px; border-radius: 25px; font-size: 18px; padding-left: 10px; padding-right: 10px; transform: translateX(-15px) translateY(-5px);">
                {{ numberNot }}
              </div>
            </div>
          </a>

          <div class="dropdown-menu " style="width: 300px; margin-top: 55px;" aria-labelledby="dropdownMenuButton">
            <div *ngIf="NOtification.length > 0">
            <a class="dropdown-list" style="padding-left: 10px;" *ngFor="let n of NOtification" (click)="clickEachNotification(n.type, n.refId)"><b>{{ n.originId.name }}</b> &nbsp;{{ n.message }} <br>                  <hr class="dropdown-line">
            </a>
          </div>
          <div *ngIf="NOtification.length === 0">
            <div style="text-align: center;">
              No Notifications
            </div>
          </div>

          </div>
        </div>
        <div class="dropdown" >
          <a href="" class=" " data-toggle="dropdown" id="dropdownMenuButton2">
            <img [src]="ProfileImg" alt="" class="text-right profile ">
          </a>

          <div class="dropdown-menu " style="margin-top: 55px;" aria-labelledby="dropdownMenuButton2">
            <a class="dropdown-item" [routerLink]="['/user', userId]">
              <div class="dropdown-name ">

                  <img [src]="ProfileImg" alt="" class="dropdown-image ">
                  <p class="font-weight-bold dropdown-name-text">{{ Name | titlecase }}   &nbsp;></p>
              </div>
            </a><hr class="dropdown-line">

                <a class="dropdown-item" [routerLink]="['/create']" routerLinkActive="router-link-active"  routerLinkActive="router-link-active" ><div class="dropdown-list-item">
                    <P class="dropdown-list" >Become A Blogger</P></div></a>
                <a class="dropdown-item"  ><div class="dropdown-list-item">
                    <P class="dropdown-list" >Settings</P></div></a>
                    <a class="dropdown-item" ><div class="dropdown-list-item">
                        <P class="dropdown-list">Help</P></div></a>
                        <a class="dropdown-item"  routerLinkActive="router-link-active" (click)="signOut()"><div class="dropdown-list-item">
                            <P class="dropdown-list">Sign Out</P></div></a>


          </div>

        </div>

      </div>
      <div class="loginButton" *ngIf="!loggedin">
        <a class="loginLink" style="cursor: pointer" [routerLink]="['/login']">LOGIN</a>
       </div>
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-10">
          <h1 class="text-left main-title">STOPNC</h1>
          <br>
          <p class = "text-left main-slogan">Style your Everyday Life</p>

        </div>
      </div>
    </div>
</div>
</div>
