<div class="align">
<div class="upper-container">
<div class="image-user">
  <img [src]="User.profileImage" alt="" class="profile-image">
</div>
<div class="user-info">
  <h1 class="user-name">{{ User.Name | titlecase }}</h1>
  <p class="small-info">{{ User.about }}</p>
  <p class="discription">{{ User.discription }}</p><br>
  <div class="follow-container">
    <div class="followers">
      <a [routerLink]="[{ outlets: { userinfo: ['followers'] } }]">{{followerNo }} followers</a>
    </div>
    <div class="following">
      <a class="following-link"  [routerLink]="[{ outlets: { userinfo: ['following'] } }]">{{ followingNo }} following</a>
    </div>
  </div>

</div>
<a class="edit" *ngIf="isSameUser"><div  ><p class="edit-text" [routerLink]="['./edit']"  >Edit</p></div></a>

</div>
<router-outlet name="userinfo"></router-outlet>


</div>
