
a {
  position: relative;
  color: #2D4A86;
  cursor: pointer;
  text-decoration: none;
}

.second-container {
  background-color: #A2CABE;
  width: 100%;
  height: 100%;
}
.nav-tabs > li > a:hover{
  background-color: transparent !important;
  border-color: transparent;

}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
  color: #5D5D5D;
  cursor: default;
  background-color: transparent;
  border-bottom-color: #5D5D5D;
  border-left: none;
  border-right: none;
  border-top: none;
}
.navigation-tab {
  font-family: Regular;
  font-size: 30px;
  color: #F7F6F9;
}

.top-story-head {
  color: #ffffff;
  font-family: Enhance;
  font-size: 45px;
  padding-top: 40px;
}
.content {
  display: flex;
    background: #ffffff;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.16);
    margin-left: 10px;
    margin-right: 10px;

    margin-top: 100px;

}
.Name {
  color: #2D4A86;
  font-family: Regular;
  font-size: 25px;
  margin-left: 15px;
}
.date {
  font-family: Regular;
  font-size: 20px;
  color: #5D5D5D;
}
.blogTitle {
  font-family: Regular;
  color: #5D5D5D;
  font-size: 15px;
  text-align: left;
  padding-left: 15px;
}
.description {
  font-family: Regular;
  color: #5D5D5D;
  font-size: 20px;
  text-align: left;
  padding-left: 15px;
  margin-top: 25px;

}
.head {
  font-family: Regular;
  color: #5D5D5D;
  font-size: 25px;
  text-align: left;
  padding-left: 15px;
  margin-top: 20px;
  margin-bottom: 10px;

}
.ReadNow {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: #5D5D5D;
  font-family: Subtract;
  font-size: 25px;
  /* transform: translateX(-20px); */
  margin-top: 20px;
  }
  @media screen and (max-width: 600px) {
    .Name {
      font-size: 15px;
    }
    .date {
      font-size: 15px;

    }
    .head {
      font-size: 15px;
      margin-top: 10px;
      margin-bottom: 5px;

    }
    .ReadNow {
      font-size: 15px;

    }
    .description {
      font-size: 15px;

    }
    content {
      font-size: 10px;
    }
  }
