<div class="second-container">
    <ul class="nav nav-tabs">
      <li class="active "><a data-toggle="tab" href="#home" class="navigation-tab" style="padding-left: 20px;">Profile</a></li>
      <li ><a data-toggle="tab" href="#menu1" class="navigation-tab">Responces</a></li>
      <li><a data-toggle="tab" href="#menu2" class="navigation-tab">Likes</a></li>
    </ul>
    <div class="tab-content">
      <div id="home" class="tab-pane fade in active" style="height: 100%; background-color: #A2CABE;">
        <div class="row">
          <div>
        <div class="col-md-6" *ngFor="let item of Blogs" style="">
          <div class="content">
            <div style="flex: 1;  background-size: cover;" [style.background-image]="'url(' + item.image  + ')'">
            </div>
            <div style="width: 100%;  flex: 1;">
              <div style="display: flex; justify-content: space-between; padding-top: 10px; padding-right: 10px;">
                <div>
                  <div class="Name">
                  {{ item.authorId.name }}
                  </div>
                </div>


                  <div style="" class="date">{{ item.date | date:'shortDate' }}</div>
              </div>
              <div class="blogTitle">
                {{ item.authorId.about }}

              </div>
              <div class="head">
                <b>
                {{ item.title }}
              </b>
              </div>
              <div class="description">
                {{ item.body | truncate: 320  }}
              </div>
              <div  class="ReadNow" (click)="this.blogClick(item._id)">
                <div>
                READNOW
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="Blogs.length == 0">
        <div style="display: flex; align-items: center; justify-content: center; margin-top: 40px; margin-bottom: 40px;">
          <div>
            <h1 class="info">No Blogs To Show</h1>
          </div>
        </div>
      </div>
      </div>
      </div>
      <div id="menu1" class="tab-pane fade ">
          Responces
        </div>
        <div id="menu2" class="tab-pane fade ">
            Likes
          </div>
      </div>
  </div>
