<div class="second-container">
    <ul class="nav nav-tabs">
      <li class="active "><a data-toggle="tab" href="#home" class="navigation-tab" style="padding-left: 20px;">Profile</a></li>
      <li ><a data-toggle="tab" href="#menu1" class="navigation-tab">Responces</a></li>
      <li><a data-toggle="tab" href="#menu2" class="navigation-tab" *ngIf="isSameUser">Bookmarks</a></li>
    </ul>
    <div class="tab-content">
      <div id="home" class="tab-pane fade in active" style="height: 100%; background-color: #A2CABE;">
        <div class="row" style="padding: 10px;">
          <div>
        <div class="col-md-6" *ngFor="let item of Blogs" style="">
          <div class="content">
            <div style="flex: 1;  background-size: cover;" [style.background-image]="'url(' + item.image  + ')'">
            </div>
            <div style="width: 100%;  flex: 1;">
              <div style="display: flex; justify-content: space-between; padding-top: 10px; padding-right: 10px;">
                <div>
                  <div class="Name">
                  {{ item.authorId.name }}
                  </div>
                </div>


                  <div style="" class="date">{{ item.date | date:'shortDate' }}</div>
              </div>
              <div class="blogTitle">
                {{ item.authorId.about }}

              </div>
              <div class="head">
                <b>
                {{ item.title }}
              </b>
              </div>
              <div class="description">
                {{ item.body | truncate: 320  }}
              </div>
              <div  class="ReadNow" (click)="this.blogClick(item._id)">
                <div>
                READNOW
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="Blogs.length == 0" style="width: 100%;">
        <div style="display: flex; align-items: center; justify-content: center; margin-top: 40px; margin-bottom: 40px; width: 100%;">
          <div>
            <h1 class="info">No Blogs To Show</h1>
          </div>
        </div>
      </div>
      </div>
      </div>
      <div id="menu1" class="tab-pane fade ">
          <div style="display: flex; justify-content: center;" *ngFor="let item of Useromment" >
            <div class="content" style="width: 50%; display: block !important; margin-top: 50px; cursor: pointer;" (click)="blogClick(item.blog._id)">
              <div class="blogTitle" style="font-size: 23px;">
                {{ item.blog.title }}
              </div>
              <div class="head" style="font-size: 15px; margin-top: 5px; margin-bottom: 2px;">
                <b>
                  Comment Added
              </b>
              </div>
              <div class="description" style="margin-top: 5px; padding-top: 10px; margin-left: 25px;  border-left: 2px solid #d3d3d3; margin-bottom: 5px; border-radius: 2px; padding-left: 10px;">
                {{ item.body }}
              </div>
              <div style="font-size: 12px; margin-left: 25px; margin-bottom: 10px;" class="date">{{ item.date | date:'short' }}</div>

            </div>

          </div>
          <div *ngIf="Useromment.length == 0" style="width: 100%;">
            <div style="display: flex; align-items: center; justify-content: center; margin-top: 40px; margin-bottom: 40px;">
              <div>
                <h1 class="info">No Responses To Show</h1>
              </div>
            </div>
          </div>
          <br>
          <br>
        </div>
        <div id="menu2" class="tab-pane fade ">
          <br>
          <div class="row" style="padding: 10px;">
            <div>
          <div class="col-md-6" *ngFor="let item of userBookmark" style="">
            <div class="content">
              <div style="flex: 1;  background-size: cover;" [style.background-image]="'url(' + item.image  + ')'">
              </div>
              <div style="width: 100%;  flex: 1;">
                <div style="display: flex; justify-content: space-between; padding-top: 10px; padding-right: 10px;">
                  <div>
                    <div class="Name">
                    {{ item.authorId.name }}
                    </div>
                  </div>


                    <div style="" class="date">{{ item.date | date:'shortDate' }}</div>
                </div>
                <div class="blogTitle">
                  {{ item.authorId.about }}

                </div>
                <div class="head">
                  <b>
                  {{ item.title }}
                </b>
                </div>
                <div class="description">
                  {{ item.body | truncate: 320  }}
                </div>
                <div  class="ReadNow" (click)="this.blogClick(item._id)">
                  <div>
                  READNOW
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <br>
        <br>
        <br>
        <div *ngIf="Blogs.length == 0" style="width: 100%;">
          <div style="display: flex; align-items: center; justify-content: center; margin-top: 40px; margin-bottom: 40px;">
            <div>
              <h1 class="info">No Blogs To Show</h1>
            </div>
          </div>
        </div>
        <br>
          <br>
        </div>
          </div>
      </div>
  </div>
