<div style="width:100%">
<div style="z-index: 200; position: relative;">
<div class="innerContainer">
  <div  style="background-image: url('../../../../assets/Untitled-2.png'); " class="sideContainer">
    <div style="text-align: center; ">
      <br>
      <div class="sideText">SPORTY<br>SPICE</div>
      <br>
      <div class="exploreButton" style="background-color: #d66262;">Explore Now</div>

    </div>
  </div>
  <div class="space" style="background-color: #e19d9c;">
    <div class="blogContainer1" style=" " >
      <div style="flex-grow: 1;">
        <ngx-skeleton-loader count="10"  *ngIf="isFirstLoaded === false"   [theme]="{ 'min-width': '300px', 'width': '100%' }"></ngx-skeleton-loader>

      </div>
      <div *ngIf="isFirstLoaded === true">
         <div style="flex-grow: 1; margin-left: 10px; margin-right: 10px;">
          <div style="display: flex; justify-content: flex-start; font-family: Regular;">
            <div style="font-size: 20px; color: #5D5D5D;">{{ firstBlog.tag }}</div><div style="width: 10px; height: 10px; background-color: #E97988; border: none; border-radius: 50%; margin-left: 5px; margin-right: 5px; transform: translateY(7px);"></div><div style="font-size: 20px; color: #5D5D5D;">{{ firstBlog.date | date:'shortDate' }}</div>
          </div>
          <br>
          <div class="blogTitle">
            <b>
           {{ firstBlog.title }}
          </b>
          </div>
          <br>
          <div class="blogText">
            {{ firstBlog.body | truncate: 220  }}
          </div>
          <div style="display: flex; flex-direction: row;">
            <div *ngFor="let item of firstBlog.image">
              <img [src]="item" alt="" class="blogImageMain">
            </div>
            <div class="ReadNow" (click)="this.blogClick(firstBlog._id)">
              READNOW
            </div>
            </div>

         </div>
        </div>
    </div>
  </div>
</div>
</div>
<div style="z-index: 1; position: relative;">
  <div class="innerContainer" style="flex-direction: row-reverse;">
    <div  style="background-image: url('../../../../assets/unt-3.png'); " class="sideContainer">
      <div style="text-align: center; ">
        <br>
        <div class="sideText">SPORTY<br>SPICE</div>
        <br>
        <div class="exploreButton" style="background-color: #3E7899;">Explore Now</div>

      </div>
    </div>
    <div class="space" style="background-color: #7bb0cf;">

      <div >
      <div class="blogContainer2" style=" ">
        <div style="flex-grow: 1;">
          <ngx-skeleton-loader count="10"  *ngIf="isFirstLoaded === false"   [theme]="{ 'min-width': '300px', 'width': '100%' }"></ngx-skeleton-loader>

        </div>
           <div style="flex-grow: 1; margin-left: 10px; margin-right: 10px;" *ngIf="isFirstLoaded === true">
            <div style="display: flex; justify-content: flex-start; font-family: Regular;">
              <div style="font-size: 20px; color: #5D5D5D;">{{ secondBlog.tag }}</div><div style="width: 10px; height: 10px; background-color: #E97988; border: none; border-radius: 50%; margin-left: 5px; margin-right: 5px; transform: translateY(7px);"></div><div style="font-size: 20px; color: #5D5D5D;">{{ secondBlog.date | date:'shortDate' }}</div>
            </div>
            <br>
            <div class="blogTitle">
              <b>
                {{ secondBlog.title }}
            </b>
            </div>
            <br>
            <div class="blogText">
              {{ secondBlog.body | truncate: 220  }}
            </div>
            <div style="display: flex; flex-direction: row;">
              <div *ngFor="let item of secondBlog.image">
                <img [src]="item" alt="" class="blogImageMain">
              </div>
              <div class="ReadNow" (click)="this.blogClick(secondBlog._id)">
                READNOW
              </div>
              </div>
           </div>

      </div>
      </div>
    </div>
  </div>
  </div>




  <div class="top-story-background">
    <p  class="top-story-head">TOP STORIES</p>
    <div style="display: flex; padding-left: 30px; padding-right: 30px; padding-bottom: 50px; padding-top: 50px;">

      <div style=" flex-grow: 3; display: flex; justify-content: space-evenly;">
        <div class="story-container">
          <div *ngIf="isFirstLoaded === false" >
            <div style="display: flex">
                <ngx-skeleton-loader count="1"  appearance="circle"   [theme]="{ 'width': '60px', 'height': '60px' }"></ngx-skeleton-loader> <br>
              </div>
              <div style="display: flex">
                <ngx-skeleton-loader count="13"  *ngIf="isFirstLoaded === false"   [theme]="{ 'min-width': '150px' }"></ngx-skeleton-loader>

              </div>

            </div>
          <div *ngIf="isFirstLoaded === true">
          <div style="display: flex;" >
            <div >
              <img [src]="topBlogs[0].authorId.profileImage" alt="" style="max-width: 50px; border-radius: 50%;">
            </div>
            <div style="text-align: left !important;">
              <div class="Name">
               {{ topBlogs[0].authorId.name }}
              </div>
              <div class="discription">
                {{ topBlogs[0].authorId.discription }}

              </div>
            </div>
            <div style=" align-items: center;
            justify-content: center; display:flex;">

            </div>
          </div>
          <div  class="header-small">
            {{ topBlogs[0].title }}

          </div>
          <div>
            <div style="display: flex; flex-flow: row; justify-content: flex-start; font-family: Regular;">
              <div style="font-size: 13px; color: #5D5D5D;">{{ topBlogs[0].tag }}</div><div style="width: 7px; height: 7px; background-color: #E97988; border: none; border-radius: 50%; margin-left: 5px; margin-right: 5px; transform: translateY(4px);"></div><div style="font-size: 13px; color: #5D5D5D;">{{ topBlogs[0].date | date:'shortDate'  }}</div>
            </div>
        </div>
          <div style="display: flex; align-items: center; justify-content: center;">

            <div>
              <img [src]="topBlogs[0].image[0]"  class="image-small">
            </div>
          </div>
          <div style="display: flex; justify-content: center;">
            <div class="read"  (click)="this.blogClick(topBlogs[0]._id)">
              READ NOW
            </div>
          </div>
          </div>
        </div>
        <div class="story-container">
          <div *ngIf="isFirstLoaded === false" >
            <div style="display: flex">
                <ngx-skeleton-loader count="1"  appearance="circle"   [theme]="{ 'width': '60px', 'height': '60px' }"></ngx-skeleton-loader> <br>
              </div>
              <div style="display: flex">
                <ngx-skeleton-loader count="13"  *ngIf="isFirstLoaded === false"   [theme]="{ 'min-width': '150px' }"></ngx-skeleton-loader>

              </div>

            </div>
          <div *ngIf="isFirstLoaded === true">
            <div style="display: flex;" >
              <div >
                <img [src]="topBlogs[0].authorId.profileImage" alt="" style="max-width: 50px; border-radius: 50%;">
              </div>
              <div style="text-align: left !important;">
                <div class="Name">
                 {{ topBlogs[1].authorId.name }}
                </div>
                <div class="discription">
                  {{ topBlogs[1].authorId.discription }}

                </div>
              </div>
              <div style=" align-items: center;
              justify-content: center; display:flex;">

              </div>
            </div>
            <div  class="header-small">
              {{ topBlogs[1].title }}

            </div>
            <div>
              <div style="display: flex; flex-flow: row; justify-content: flex-start; font-family: Regular;">
                <div style="font-size: 13px; color: #5D5D5D;">{{ topBlogs[1].tag }}</div><div style="width: 7px; height: 7px; background-color: #E97988; border: none; border-radius: 50%; margin-left: 5px; margin-right: 5px; transform: translateY(4px);"></div><div style="font-size: 13px; color: #5D5D5D;">{{ topBlogs[1].date | date:'shortDate'  }}</div>
              </div>
          </div>
            <div style="display: flex; align-items: center; justify-content: center;">

              <div>
                <img [src]="topBlogs[1].image[0]"  class="image-small">
              </div>
            </div>
            <div style="display: flex; justify-content: center;">
              <div class="read" (click)="this.blogClick(topBlogs[1]._id)">
                READ NOW
              </div>
            </div>
            </div>
        </div>
        <div class="story-container">
          <div *ngIf="isFirstLoaded === false" >
            <div style="display: flex">
                <ngx-skeleton-loader count="1"  appearance="circle"   [theme]="{ 'width': '60px', 'height': '60px' }"></ngx-skeleton-loader> <br>
              </div>
              <div style="display: flex">
                <ngx-skeleton-loader count="13"  *ngIf="isFirstLoaded === false"   [theme]="{ 'min-width': '150px' }"></ngx-skeleton-loader>

              </div>

            </div>
          <div *ngIf="isFirstLoaded === true">
            <div style="display: flex;" >
              <div >
                <img [src]="topBlogs[2].authorId.profileImage" alt="" style="max-width: 50px; border-radius: 50%;">
              </div>
              <div style="text-align: left !important;">
                <div class="Name">
                 {{ topBlogs[2].authorId.name }}
                </div>
                <div class="discription">
                  {{ topBlogs[2].authorId.discription }}

                </div>
              </div>
              <div style=" align-items: center;
              justify-content: center; display:flex;">
              </div>
            </div>
            <div  class="header-small">
              {{ topBlogs[2].title }}

            </div>
            <div>
              <div style="display: flex; flex-flow: row; justify-content: flex-start; font-family: Regular;">
                <div style="font-size: 13px; color: #5D5D5D;">{{ topBlogs[2].tag }}</div><div style="width: 7px; height: 7px; background-color: #E97988; border: none; border-radius: 50%; margin-left: 5px; margin-right: 5px; transform: translateY(4px);"></div><div style="font-size: 13px; color: #5D5D5D;">{{ topBlogs[2].date | date:'shortDate'  }}</div>
              </div>
          </div>
            <div style="display: flex; align-items: center; justify-content: center;">

              <div>
                <img [src]="topBlogs[2].image[0]"  class="image-small">
              </div>
            </div>
            <div style="display: flex; justify-content: center;">
              <div class="read" (click)="this.blogClick(topBlogs[2]._id)">
                READ NOW
              </div>
            </div>
            </div>
        </div>
      </div>

    </div>
  </div>
</div>
