<div style="background-color: #F9B1A5; width: 100%;  text-align: center; padding: 5px; padding-bottom: 50px; ">
  <p  class="top-story-head">EXPLORE</p>

  <div style="display:flex; padding: 5px; overflow-x: hidden;">

  <div class="content" style="padding: 10px;">
    <div class="Name" style="">Trending On STOPNC</div>
    <br>
    <div class="list-item">
      <div class="margin" style="text-align: left; margin-top: 15px" *ngFor="let item of trending; let i = index">
        <div style="display:flex; width: 247px;">
          <div style="flex: 1;">
            <p class="number" style="margin-top:auto; opacity: 0.4;  margin-top: -15px;">{{ i + 1 }}</p>
          </div>
          <div style="flex: 4;">
            <div  [ngStyle]="{ 'background-image': 'url(' + item.image[0] + ')'}"style="   background-repeat: no-repeat;
            background-size: cover; background-position: center; border: 2px solid #5d5d5d;" class="image-width">

            </div>
            <div class="Name" style="font-size: 18px; max-width: 235px; margin-top: 10px; text-align: left;">
              {{ item.title }}
              </div>
              <div class="blogTitle" style="font-size: 15px;">
                - by {{ item.author }}
              </div>
          </div>
        </div>
      </div>

</div>
    </div>
  </div>
  <div class="" style="justify-content: space-between; display: flex; overflow: visible;  width: 100%; padding: 5px;">
    <div class="content" style="margin-top: 40px;">
      <div class="Name" style="">Shop Now</div>
      <br>
      <div style=" justify-content: space-between;" class="row">
        <div style="text-align:center; margin-top: 30px; padding-left:0px;" class="col-xs-6 col-sm-6 col-md-4">
          <img [src]="products[0].image" style="width: 130px">
          <div class="Name" style="font-size: 18px; margin-top: 10px; text-align: center !important;">
            {{ products[0].name }}
            </div>
            <div style="width: 130px; margin: auto;">
            <a [href]="products[0].link " target="blank">
            <div class="shop">
              Shop Now
            </div>
            </a>
            </div>
        </div>
        <div style="text-align:center; margin-top: 30px; padding-left:0px;" class="col-xs-6 col-sm-6 col-md-4">
          <img [src]="products[1].image" style="width: 130px">
          <div class="Name" style="font-size: 18px; margin-top: 10px; text-align: center !important;">
            {{ products[1].name }}
            </div>
            <div style="width: 130px; margin: auto;">
            <a [href]="products[1].link " target="blank">
            <div class="shop">
              Shop Now
            </div>
            </a>
            </div>
        </div>
        <div style="text-align:center; margin-top: 30px; padding-left:0px;" class="col-xs-6 col-sm-6 col-md-4">
          <img [src]="products[2].image" style="width: 130px">
          <div class="Name" style="font-size: 18px; margin-top: 10px; text-align: center !important;">
            {{ products[2].name }}
            </div>
            <div style="width: 130px; margin: auto;">
            <a [href]="products[2].link " target="blank">
            <div class="shop">
              Shop Now
            </div>
            </a>
            </div>
        </div>
        <div style="text-align:center; margin-top: 30px; padding-left:0px;" class="col-xs-6 col-sm-6 col-md-4">
          <img [src]="products[3].image" style="width: 130px">
          <div class="Name" style="font-size: 18px; margin-top: 10px; text-align: center !important;">
            {{ products[3].name }}
            </div>
            <div style="width: 130px; margin: auto;">
            <a [href]="products[3].link " target="blank">
            <div class="shop">
              Shop Now
            </div>
            </a>
          </div>
        </div>
      </div>
      <br>
      <br>

      </div>
    </div>
    <div style="justify-content: space-between;  overflow: visible;  width: 100%; padding: 5px;" >
  <div class="container-2 " style="margin-top: 40px;" >
    <div class="Name" style="text-align:center; width: 100%">Exclusive Posts</div>
    <hr>
    <div style="display: flex; flex-direction: column; justify-content: space-between; " *ngFor="let item of exclusive">
    <div style="display: flex; align-items: center;">
      <div class="head" style="padding-left: 0px; padding-right: 10px; font-size: 40px; margin-top: 10px;">
        <img [src]="item.image[0]" style="width: 60px;">
      </div>

      <div style="margin-left: 10px;">
        <div class="Name" style="font-size: 15px; text-align:left">
          {{item.title}}
          </div>
          <div class="blogTitle" style="font-size: 15px;">
           - by {{ item.author }}
          </div>
      </div>
    </div>
    <br>



  </div>


</div>
</div>
</div>
