<div style="background-color: #F9B1A5; width: 100%;  text-align: center; padding: 5px; padding-bottom: 50px; ">
  <p  class="top-story-head">EXPLORE</p>

  <div style="display:flex; padding: 5px; overflow-x: hidden;">

  <div class="content">
    <div class="Name" style="">Trending On STOPNC</div>
    <br>
    <div class="list-item" style="">
      <div class="" style="text-align: left; margin-top: 15px" *ngFor="let item of masonryItems; let i = index">
        <div style="display:flex;">
          <div>
            <p class="number" style="margin-top:auto; opacity: 0.4; margin-right:5px; margin-top: -15px;">{{ i + 1 }}</p>
          </div>
          <div >
            <div style="  background-image: url(../../../assets/2ddd988b-3d17-4816-bede-8bb4753be7691537518619839-Harpa-Women-Mustard-Striped-Top-3111537518619649-1.png) ; background-repeat: no-repeat;
            background-size: cover; background-position: center; border: 2px solid #5d5d5d;" class="image-width">

            </div>
            <div class="Name" style="font-size: 18px; max-width: 235px; margin-top: 10px; text-align: left;">
              25 Bodysuit Outfits That’ll Make You Look (and Feel!) So Chic
              </div>
              <div class="blogTitle" style="font-size: 15px;">
               - by snapshot winner
              </div>
          </div>
        </div>
      </div>

</div>
    </div>
  </div>
  <div class="" style="justify-content: space-between; display: flex; overflow: visible;  width: 100%; padding: 5px;">
    <div class="content" style="margin-top: 40px;">
      <div class="Name" style="">Shop Now</div>
      <br>
      <div style="display: flex; justify-content: space-between;">
        <div style="text-align:center;">
          <img src="../../../assets/4494bfb1-654d-4680-b19a-4893557f5c241551516301931-FOREVER-21-Women-Black-Solid-Bomber-781551516300284-2.webp" style="width: 130px">
          <div class="Name" style="font-size: 18px; margin-top: 10px; text-align: center !important;">
            Carltron London
            </div>
            <div class="shop">
              Shop Now
            </div>
        </div>
        <div style="text-align:center;">
          <img src="../../../assets/4494bfb1-654d-4680-b19a-4893557f5c241551516301931-FOREVER-21-Women-Black-Solid-Bomber-781551516300284-2.webp" style="width: 130px">
          <div class="Name" style="font-size: 18px; margin-top: 10px; text-align: center !important;">
            Carltron London
            </div>
            <div class="shop">
              Shop Now
            </div>
        </div>

      </div>
      <br>
      <br>
      <div style="display: flex; justify-content: space-between;">
        <div style="text-align:center;">
          <img src="../../../assets/4494bfb1-654d-4680-b19a-4893557f5c241551516301931-FOREVER-21-Women-Black-Solid-Bomber-781551516300284-2.webp" style="width: 130px">
          <div class="Name" style="font-size: 18px; margin-top: 10px; text-align: center !important;">
            Carltron London
            </div>
            <div class="shop">
              Shop Now
            </div>
        </div>
        <div style="text-align:center;">
          <img src="../../../assets/4494bfb1-654d-4680-b19a-4893557f5c241551516301931-FOREVER-21-Women-Black-Solid-Bomber-781551516300284-2.webp" style="width: 130px">
          <div class="Name" style="font-size: 18px; margin-top: 10px; text-align: center !important;">
            Carltron London
            </div>
            <div class="shop">
              Shop Now
            </div>
        </div>

      </div>
      </div>
    </div>
    <div style="justify-content: space-between; display: flex; overflow: visible;  width: 100%; padding: 5px;" >
  <div class="container-2 " style="margin-top: 40px;" >
    <div class="Name" style="text-align:center; width: 100%">Exclusive Posts</div>
    <hr>
    <div style="display: flex; flex-direction: column; justify-content: space-between; ">
    <div style="display: flex; align-items: center;">
      <div class="head" style="padding-left: 0px; padding-right: 10px; font-size: 40px; margin-top: 10px;">
        <img src="../../../assets/mustard-raven-bodycon-dress-in1913mtodreylw-129-front.png" style="width: 60px;">
      </div>

      <div style="margin-left: 10px;">
        <div class="Name" style="font-size: 15px; text-align:left">
          25 Bodysuit Outfits That’ll Make You Look (and Feel!) So Chic
          </div>
          <div class="blogTitle" style="font-size: 15px;">
           - by snapshot winner
          </div>
      </div>
    </div>
    <br>



  </div>
  <div style="display: flex; flex-direction: column; justify-content: space-between; ">
    <div style="display: flex; align-items: center;">
      <div class="head" style="padding-left: 0px; padding-right: 10px; font-size: 40px; margin-top: 10px;">
        <img src="../../../assets/mustard-raven-bodycon-dress-in1913mtodreylw-129-front.png" style="width: 60px;">
      </div>

      <div style="margin-left: 10px;">
        <div class="Name" style="font-size: 15px; text-align:left">
          25 Bodysuit Outfits That’ll Make You Look (and Feel!) So Chic
          </div>
          <div class="blogTitle" style="font-size: 15px;">
           - by snapshot winner
          </div>
      </div>
    </div>
    <br>



  </div>
  <div style="display: flex; flex-direction: column; justify-content: space-between; ">
    <div style="display: flex; align-items: center;">
      <div class="head" style="padding-left: 0px; padding-right: 10px; font-size: 40px; margin-top: 10px;">
        <img src="../../../assets/mustard-raven-bodycon-dress-in1913mtodreylw-129-front.png" style="width: 60px;">
      </div>

      <div style="margin-left: 10px;">
        <div class="Name" style="font-size: 15px; text-align:left">
          25 Bodysuit Outfits That’ll Make You Look (and Feel!) So Chic
          </div>
          <div class="blogTitle" style="font-size: 15px;">
           - by snapshot winner
          </div>
      </div>
    </div>
    <br>



  </div>
  <div style="display: flex; flex-direction: column; justify-content: space-between; ">
    <div style="display: flex; align-items: center;">
      <div class="head" style="padding-left: 0px; padding-right: 10px; font-size: 40px; margin-top: 10px;">
        <img src="../../../assets/mustard-raven-bodycon-dress-in1913mtodreylw-129-front.png" style="width: 60px;">
      </div>

      <div style="margin-left: 10px;">
        <div class="Name" style="font-size: 15px; text-align:left">
          25 Bodysuit Outfits That’ll Make You Look (and Feel!) So Chic
          </div>
          <div class="blogTitle" style="font-size: 15px;">
           - by snapshot winner
          </div>
      </div>
    </div>
    <br>



  </div>


</div>
</div>
</div>
