<div style="overflow-x: hidden;">
<div style="height: 100px">
<div class="header">
<div class="name dropdown">
    <a href=""  data-toggle="dropdown">
        <img src="../../assets/menuDots.svg">
      </a>
      <div class="dropdown-menu " >
          <a class="dropdown-item" style="color: #2D4A86; padding-left: 5px;" (click)="submitDraft()" *ngIf="!isDraft">

              Save draft

          </a>
          <a class="dropdown-item" style="color: #2D4A86; padding-left: 5px;" (click)="updateDraft()" *ngIf="isDraft">

            Update

          </a>
          <hr class="dropdown-line">
          <a class="dropdown-item" style="color: #2D4A86; padding-left: 5px;" (click)="delete()">

                Delete

            </a><hr class="dropdown-line">
            <a class="dropdown-item" style="color: #2D4A86; padding-left: 5px;">

                  Change  Attributes

              </a><hr class="dropdown-line">



      </div>
</div>
<div class="name">
  <h1 routerLink="/draft" style="cursor: pointer;">STOPNC</h1>
</div>
<div >
  <div class="submitButton" *ngIf="!isDraft">
    <a class="submitlink" style="cursor: pointer" (click)="onSubmit()">Publish</a>
  </div>
  <div class="submitButton" *ngIf="isDraft">
    <a class="submitlink" style="cursor: pointer" (click)="publishDraft()">Publish</a>
</div>
</div>
</div>
</div>
<div class="texteditor">
  <textarea rows="2" placeholder="Title" class="title" [(ngModel)]="title"></textarea>
</div>
<hr>
<div  class="categoryTabs">
  <div class="categories">
    Categories
  </div>
  <div style=" display: flex; flex-flow: row wrap; margin-left: 20px; width: 100%;">
    <div class="catTab" *ngFor="let item of categories; let i = index;" [ngClass]="{'catTab': !item.clicked, 'catTabSelected': item.clicked}" (click)="toggleClicked(i)">
      {{ item.name }}
    </div>
  </div>
</div>
<div  class="categoryTabs2">
  <div class="categories">
    Categories
  </div>
  <div style=" display: flex; flex-flow: row wrap; margin-left: 10px; width: 100%;">
    <div class="catTab" *ngFor="let item of categories; let i = index;" [ngClass]="{'catTab': !item.clicked, 'catTabSelected': item.clicked}" (click)="toggleClicked(i)">
      {{ item.name }}
    </div>
  </div>
</div>
<hr>
<div class="textbody">
  <textarea rows="15" placeholder="Body" class="body" [(ngModel)]="body"></textarea>
</div>
<input type="file" #filePicker (change)="onSelectFile($event)" style="display:none">
<div class="add" style="background-color:white;" [@buttonState]='state' (click)="toggleState()">
  <a ><svg height="36px" viewBox="0 0 512 512" width="36px" class="addIcon"><g><path d="m437.019531 74.980469c-48.351562-48.351563-112.640625-74.980469-181.019531-74.980469s-132.667969 26.628906-181.019531 74.980469c-48.351563 48.351562-74.980469 112.640625-74.980469 181.019531s26.628906 132.667969 74.980469 181.019531c48.351562 48.351563 112.640625 74.980469 181.019531 74.980469s132.667969-26.628906 181.019531-74.980469c48.351563-48.351562 74.980469-112.640625 74.980469-181.019531s-26.628906-132.667969-74.980469-181.019531zm-181.019531 397.019531c-119.101562 0-216-96.898438-216-216s96.898438-216 216-216 216 96.898438 216 216-96.898438 216-216 216zm20-236.019531h90v40h-90v90h-40v-90h-90v-40h90v-90h40zm0 0" data-original="#000000" class="active-path" data-old_color="#000000" fill="#2D4A86"/></g> </svg>
  </a>
</div>
<div style="background-color:white;  position: fixed; z-index: 100; right: 15px; " [@buttonSubState]='state' data-toggle="tooltip" data-placement="Left" title="Add Image">
  <a (click)="filePicker.click()"><img src="../../assets/imageIcon.png" width="36px" >
  </a>
</div>
<div style=" background-color:white; position: fixed; z-index: 100; right: 15px; "  [@buttonSubState2]='state' data-toggle="tooltip" data-placement="Left" title="Add Video">
  <a (click)="filePicker.click()"><img src="../../assets/videoIcon.png" width="36px">
  </a>
</div>
<hr>
<div class="Images" *ngIf="imagesUrl.length > 0">
  Images  <br>
  <div class="row"  >
    <div  *ngFor="let img of imagesUrl; let i = index;">
      <div class="imageBlog col-md-4 col-sm-12" >
    <div style="width:fit-content ">
      <img src="../../assets/cancel.png" style="width: 30px;display: relative; right: 20px; transform: translateX(220px) translateY(0px); z-index: 100; cursor: pointer;" (click)="onRemovePicture(i)"  >
    </div>
    <img [src] = "img"  style="width: 250px; padding: 10px; " *ngIf="checkIfImg(i)" >
    <video  height="360" autoplay loop controls *ngIf="!checkIfImg(i)" >
      <source [src] = "img" type="video/mp4">
    </video>

  </div>
</div>
</div>
</div>
</div>
