<div
  style="" class="background">
  <p class="top-story-head">Draft</p>
  <div style=" " class="draft-container">
    <div class="content">
      <div style="display: flex; justify-content:center; width: 100%; align-items:center; height:100%; flex-wrap: wrap;"
        (click)="newBlog()">
        <div>
          <img src="../../../assets/plus.svg" style="" class="plus">
          <div class="Name" style="margin-top:15px;">
            Create New
          </div>
        </div>
      </div>
    </div>
    <div class="content" *ngFor="let item of drafts" style="flex-direction: column;">
      <div style="display: flex; justify-content:left; width: 100%;  flex-wrap: wrap;   padding: 10px;"
        (click)="clickBlog(item._id)">
        <div>
          <div class="head" *ngIf="item.title !== undefined">
            {{ item.title }}
          </div>
          <div class="head" *ngIf="item.title === undefined">
            Undefined Title
          </div>
          <div style="" class="date">{{ item.date | date:'shortDate' }}</div>
        </div>
      </div>
      <div class="description">
        {{ item.body | truncate: 120 }}
      </div>
    </div>
  </div>

  <br>
</div>
