.background {
  padding-top: 15px;
  padding-left: 15px;
  background-color: rgb(214, 214, 214);
}
.name {
  font-family: Regular;
  font-size: 25px;
  color: #2d4a86;
  margin-top: 10px;
  margin-bottom: 5px;
}

.cont {
  display: flex;
}
.discription {
  font-family: Regular;
  color: #5d5d5d;
  font-size: 18px;
  margin-top: 5px;
}
.followcount {
  font-family: Regular;
  color: #2d4a86;
  font-size: 15px;
}
.edit {
  background-color: #2d4a86;
  color: #f7f6f9;
  border-radius: 25px;
  font-family: Regular;
  padding: 5px 15px 5px 15px;
  margin-bottom: 15px;
  transform: translateY(-5px);
}
.edit-link {
  color: #f7f6f9;
}
