<div class="background">
  <div class="cont">
    <div>
  <img [src]="profileImage" alt="" style="height: 65px; border-radius: 50%; border: 3px solid #2d4a86">
</div>


<div style="padding-left: 15px; padding-right: 8px;">
  <h1 class="name">{{ User.Name | titlecase }}</h1>
  <p class="discription">{{ User.about}}</p>
</div>
</div>
  <div class="followers">
    <div>
      <p class="discription" style="font-size: 14px">{{ User.discription  }}</p>
    </div>

    <div style="display: flex; padding-right: 10px;">
        <a class="followcount" [routerLink]="[{ outlets: { userinformation: ['followers'] } }]">{{ User.follower.length }} followers</a>
        <a class="followcount"[routerLink]="[{ outlets: { userinformation: ['following'] } }]" style="margin-left: 30px;">{{ User.following.length }} following</a>
        <div style="flex-grow: 1;">

        </div>
        <div class="edit"><a [routerLink]="['/mobile/user/edit']" routerLinkActive="router-link-active"  class="edit-link">Edit</a></div>

    </div>

  </div>
</div>
<router-outlet name="userinformation"></router-outlet>
