a {
  position: relative;
  color: #2d4a86;
  cursor: pointer;
  text-decoration: none;
}
.info {
  font-family: Regular;
  color: #2d4a86;
  font-size: 25px;
}
.content {
  display: flex;
  background: #ffffff;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.16);
  margin: auto;
  margin-bottom: 40px;
  min-height: 300px;
}
.second-container {
  background-color: #a2cabe;
  width: 100%;
}
.Name {
  color: #2d4a86;
  font-family: Regular;
}
.date {
  font-family: Regular;
  color: #5d5d5d;
  font-size: 13px;
}
.blogTitle {
  font-family: Regular;
  color: #5d5d5d;

  text-align: left;
  font-size: 13px;
}
.head {
  font-family: Regular;
  color: #5d5d5d;
  text-align: left;
  margin-top: 10px;
}
.description {
  font-family: Regular;
  color: #5d5d5d;
  text-align: left;
  margin-top: 10px;
}
.ReadNow {
  margin-top: 10px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: #5d5d5d;
  font-family: Subtract;

  /* transform: translateX(-20px); */
}
.Edit {
  margin-top: 10px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: #5d5d5d;
  font-family: Regular;

  /* transform: translateX(-20px); */
}
.blog-image {
  background-size: cover;
  background-position: center;
  border: 3px solid #5d5d5d;
  width: 100%;
  height: 400px;
}
.blog-video {
  border-radius: 1px;
  object-fit: cover;
  overflow: hidden;
  width: 100%;
  height: 100%;
  border: 3px solid #5d5d5d;

}
.top-story-head {
  color: #ffffff;
  font-family: Enhance;
  font-size: 30px;
  padding-top: 30px;
}
.nav-tabs > li > a:hover {
  background-color: transparent !important;
  border-color: transparent;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
  color: #5d5d5d;
  cursor: default;
  background-color: transparent;
  border-bottom-color: #5d5d5d;
  border-left: none;
  border-right: none;
  border-top: none;
}
.navigation-tab {
  font-family: Regular;
  font-size: 15px;
  color: #f7f6f9;
}
