<div class="second-container">
    <ul class="nav nav-tabs">
      <li class="active "><a data-toggle="tab" href="#home" class="navigation-tab" style="padding-left: 20px;">Profile</a></li>
      <li ><a data-toggle="tab" href="#menu1" class="navigation-tab">Responses</a></li>
      <li><a data-toggle="tab" href="#menu2" class="navigation-tab">Bookmarked</a></li>
    </ul>
    <div class="tab-content">
      <div id="home" class="tab-pane fade in active" style="padding: 10px;">
        <br>
        <div class="content" *ngFor="let blog of Blogs">
          <div style="flex: 1; background-image: url(../../../../assets/Golbourne-1-1044x1566.jpg); background-size: cover;">

          </div>
          <div style="flex: 1; padding-left: 5px; padding-bottom: 5px;">
            <div style="display: flex; justify-content: space-between; ">
              <div>
                <div class="Name">
                {{ blog.author }}
                </div>
              </div>
              <div style="" class="date"> {{ blog.date |  date:'shortDate' }}</div>
            </div>
            <div class="blogTitle">{{ blog.authorId.about }}
            </div>
            <div class="head">
              <b>
                {{ blog.title }}
            </b>
            </div>
            <div class="description">
              {{ blog.body | truncate: 180  }}
            </div>
            <div  class="ReadNow">
              <div>
              READNOW
              </div>
            </div>
          </div>

        </div>
        <br>
      </div>
      <div id="menu1" class="tab-pane fade ">
          Responces
        </div>
        <div id="menu2" class="tab-pane fade ">
            Likes
          </div>
      </div>
  </div>
