<div class="cont">
 <div class="image-edit" style="align-items: center;" (click)="profileImgChange()">
   <div style="flex: 1;">
  <img [src]="profileImage" alt="" style="height: 55px; border-radius: 50%; border: 3px solid #2D4A86;">
</div>
  <div class="text" style="flex: 2;">
   Edit Photo
   <input #imageInput
   type="file"
   accept="image/*"
   style="display: none" (change)="onImagePicked($event)">
 </div>
 </div>
 <hr>
 <div class="image-edit">
    <div class="head-text" style="flex: 1;">
      <p>
      Name
    </p>
 </div>
   <div class="text"  style="flex: 2;">
     <input type="text" [(ngModel)]=" name">
  </div>
  </div>
  <hr>
  <div class="image-edit">
      <div class="head-text" style="flex: 1;">
        <p>
        Cridential
      </p>
   </div>
     <div class="text-area" style="flex: 2;">
        <textarea name="" id="" cols="80" rows="2" placeholder="Write a short discription about yourself" [(ngModel)]="cridential"></textarea>
    </div>
    </div>
    <hr>
    <div class="image-edit">
        <div class="head-text" style="flex: 1;">
          <p style="">
          About
        </p>
     </div>
       <div class="text-area"  style="flex: 2;">
          <textarea name="" id="" cols="80" rows="4" placeholder="Describe your fashion"  [(ngModel)]="about"></textarea>
      </div>
      </div>
      <hr>
      <a class="edit"><div  ><p class="edit-text" (click)="editUser()" >Save</p></div></a>

</div>
