<div class="background">
  <div class="container">
    <div class="cancel-icon"><a [routerLink]="['/']" routerLinkActive=""><img src="assets\RepeatGrid12.svg" alt=""></a>
    </div>
    <h1 class="header">FORGOT PASSWORD</h1>
    <br>
    <div class="main-container ">
      <div class="spinner" style="transform:translateY(-30px);" *ngIf="!isChecked">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
      </div>
      <div *ngIf="isChecked && isValid && !isPasswordUpdated">

        <div style="text-align:center;">
          <div>
            <span class="text " style="color:#ae3733; font-size:18px;" *ngIf="!isPasswordValid">
              {{errMsg}}
            </span>
          </div>
          <div class="username-text-login">
            <span class="text ">Enter new password</span>
          </div>

          <div class="input-field">
            <span><input type="password" class="name-input" #password pattern=""></span> <span></span>
          </div>



        </div>
        <br>
        <div style="text-align:center;">
          <div class="username-text-login">
            <span class="text ">Confirm Password</span>
          </div>

          <div class="input-field">
            <span><input type="password" class="name-input" #confirmpassword pattern=""></span> <span></span>
          </div>



        </div>
        <br>
        <div class="button" (click)="updatePassword(password.value, confirmpassword.value)" style="width:100%">
          <a>
            <div class="signup-button">
              SUBMIT
            </div>
          </a>
        </div>
      </div>
      <div *ngIf="isChecked && !isValid && !isPasswordUpdated">
        <div style="text-align:center;">
          <div class="username-text-login">
            <span class="text " style="color:#ae3733">Invalid Request. Link May Have Expired</span>
          </div>
        </div>
      </div>
      <div *ngIf="isPasswordUpdated">
        <div style="text-align:center;">
          <div class="username-text-login">
            <span class="text ">Password Updated. <br> Login To Continuer</span>
          </div>
        </div>
        <br>
        <div class="button">
          <a routerLink="/login">
            <div class="signup-button">
              Login
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
